// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit_answer {
  display: none;
}

.search_answer {
  padding: 1rem;
  margin: 1.5rem auto;
  width: 50%;
  text-align: center;
}
